[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
setuptools = "*"
wheel = "*"
twine = "*"
keyring = "*"

[packages]
pytest = "*"
colorful = "*"
pure-prompt = {path = "."}
gitpython = "*"

[requires]
python_version = "3.6"
